.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    padding: 5px;
}

.button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}